* {
    margin: 0;
    padding: 0;
}

body {
    background: #98f1ed;
}

header {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background: rgb(2, 5, 54);
    margin-bottom: 20px;
}

.cabeza {
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
}

header .titulo {
    color: #f2f2f2;
    font-size: 50px;
    line-height: 90px;
    float: left;
}

header nav {
    float: right;
    line-height: 90px;
}

header nav .algo {
    display: inline-block;
    color: #f2f2f2;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-radius: 50px;
}

header nav .algo:hover {
    background: #98f1ed;
    color: black;
}

.perfil {
    float: right;
    padding-top: 20px;
    margin-left: 10px;
    margin-right: -5px;
    cursor: pointer;
}

.logo {
    float: left;
    padding-top: 25px;
}

.main {
    border: 02px solid rgb(255, 254, 254);
    padding: 10px;
    border-radius: 30px;
    margin-right: 10px;
}

input {
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 300px;
    color: #f2f2f2;
}

.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -10px;
    padding: 20px;
    background:rgb(2, 5, 54) ;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    position: absolute;
    border: 1px solid silver;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    border-radius: 10px;
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    color: white;
}
.input, .label, .submit{
    display: block;
    width: 91%;
    font-size: 1.3em;
}
.input{
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 1px;
    color: white;
}
.input:focus{
    outline: 1px solid rgb(0,0,0,0.7);
}
.input:focus+.label{
    margin-top: -130px;
}
.label{
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
    z-index: -20;
    color: rgba(0,0,0,0.5);
    transition: all 0.2s;
    color: white;
}
.submitb {
    margin-left: 100px ;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.submitb:hover {
  background-color: #23c483;
  box-shadow: 0px 14px 19px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.submitb:active {
  transform: translateY(-1px);
}
.fijar{
    margin-top: -135px;
}
.recordar {
    margin: -5px 0 20px 5px;
    text-align: center;
    color: white;
    cursor: pointer;
}

.recordar:hover {
    text-decoration: underline;
}
.registrarse {
    margin: 15px 0 5px 0;
    text-align: center;
    font-size: 16px;
    color: white;
}

.registrarse a {
    color: white;
    text-decoration: none;
}

.registrarse a:hover {
    text-decoration: underline;
}