*{margin:0;padding:0;}

body{
  background:#98f1ed;
}
header{
  position:fixed;
  width:100%;
  overflow:hidden;
  background:rgb(2, 5, 54);
  margin-bottom:20px;
}

.wrapper{
  width:90%;
  max-width:1000%;
  margin:auto;
  overflow:hidden;
}

header .titulo{
  color:#f2f2f2;
  font-size:50px;
  line-height:90px;
  float:left;
}

header nav{
  float:right;
  line-height:90px;
}

header nav a{
  display:inline-block;
  color: #f2f2f2;
  text-decoration:none;
  margin-left: 50px;
  margin-right: 50px;
  padding:10px 20px;
  line-height:normal;
  font-size:20px;
  font-weight:bold;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
  border-radius:50px;
}

header nav a:hover{
  background:#f56f3a;
}

.contenido{
  padding-top:90px;
}

p{
  color:#f2f2f2;
}

.perfil{
  float:right;
  padding-top: 20px;
}

.logo{
  float:left;
  padding-top: 25px;
}
.main{
  border: 02px solid rgb(255, 254, 254);
  padding: 10px;
  border-radius: 30px;
  margin-right: 10px;
}
input{
  background: transparent;
  border: 0px;
  outline: 0px;
  width: 300px;
  color:#f2f2f2;
}